/.vscode
/library.code-workspace
/library.sqlite3
/__pycache__
old/*
v1/*
v2/*
v3/*
source/__pycache__/actions.cpython-310.pyc
source/__pycache__/authors_tab.cpython-310.pyc
source/__pycache__/check_out_tab.cpython-310.pyc
source/__pycache__/constants.cpython-310.pyc
source/__pycache__/functions.cpython-310.pyc
source/__pycache__/import_csv.cpython-310.pyc
source/__pycache__/items_tab.cpython-310.pyc
source/__pycache__/library.cpython-310.pyc
source/__pycache__/settings_tab.cpython-310.pyc
source/__pycache__/sql_functions.cpython-310.pyc
source/__pycache__/user_tab.cpython-310.pyc
source/__pycache__/users_tab.cpython-310.pyc
