/.vscode
/library.code-workspace
/library.sqlite3
/__pycache__
old/Browser_START_HERE_Demo_Programs_Browser.py
old/example.sql
old/library_v1.py
old/library_v2.py
old/library.sqlite3
old/test_db_2.py
old/test.py
old/test2.py
v1/actions.py
v1/check_out_tab.py
v1/constants.py
v1/functions.py
v1/items_tab.py
v1/library.py
v1/library.sql
v1/settings_tab.py
v1/user_tab.py
v2/actions.py
v2/check_out_tab.py
v2/constants.py
v2/functions.py
v2/import_csv.py
v2/items_tab.py
v2/library.code-workspace
v2/library.py
v2/library.sql
v2/library.sqlite3
v2/settings_tab.py
v2/sql_functions.py
v2/users_tab.py
v2/.vscode/launch.json
v2/__pycache__/actions.cpython-310.pyc
v2/__pycache__/check_out_tab.cpython-310.pyc
v2/__pycache__/constants.cpython-310.pyc
v2/__pycache__/functions.cpython-310.pyc
v2/__pycache__/import_csv.cpython-310.pyc
v2/__pycache__/items_tab.cpython-310.pyc
v2/__pycache__/library.cpython-310.pyc
v2/__pycache__/settings_tab.cpython-310.pyc
v2/__pycache__/sql_functions.cpython-310.pyc
v2/__pycache__/user_tab.cpython-310.pyc
v2/__pycache__/users_tab.cpython-310.pyc
v2/pictures/logo.png
v2/pictures/S-for-SIM.ico
v2/pictures/items/default.png
v2/pictures/users/default.png
v3/actions.py
v3/check_out_tab.py
v3/constants.py
v3/functions.py
v3/import_csv.py
v3/items_tab.py
v3/library.code-workspace
v3/library.py
v3/library.sql
v3/library.sqlite3
v3/settings_tab.py
v3/sql_functions.py
v3/users_tab.py
v3/.vscode/launch.json
v3/__pycache__/actions.cpython-310.pyc
v3/__pycache__/check_out_tab.cpython-310.pyc
v3/__pycache__/constants.cpython-310.pyc
v3/__pycache__/functions.cpython-310.pyc
v3/__pycache__/import_csv.cpython-310.pyc
v3/__pycache__/items_tab.cpython-310.pyc
v3/__pycache__/library.cpython-310.pyc
v3/__pycache__/settings_tab.cpython-310.pyc
v3/__pycache__/sql_functions.cpython-310.pyc
v3/__pycache__/user_tab.cpython-310.pyc
v3/__pycache__/users_tab.cpython-310.pyc
v3/pictures/logo.png
v3/pictures/S-for-SIM.ico
v3/pictures/items/default.png
v3/pictures/users/default.png
source/__pycache__/actions.cpython-310.pyc
source/__pycache__/authors_tab.cpython-310.pyc
source/__pycache__/check_out_tab.cpython-310.pyc
source/__pycache__/constants.cpython-310.pyc
source/__pycache__/functions.cpython-310.pyc
source/__pycache__/import_csv.cpython-310.pyc
source/__pycache__/items_tab.cpython-310.pyc
source/__pycache__/library.cpython-310.pyc
source/__pycache__/settings_tab.cpython-310.pyc
source/__pycache__/sql_functions.cpython-310.pyc
source/__pycache__/user_tab.cpython-310.pyc
source/__pycache__/users_tab.cpython-310.pyc
